button {
    padding: 4px 4px;
    margin: 5px;
    background-color: white;
    font-size: 14px;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(43, 36, 36);
    color: white;
}
body{
	display: block;
	justify-content: center;
	background: #dacbcb;
}
.container{
    width: 780px;
    margin: 0 auto;
    background: rgb(192, 192, 204);
    display: grid;
    justify-content: center;
    content: normal;
}